.controller.xbox{
    background: url(base-viral.svg);
    height: 630px;
    width: 750px;
    margin-left: -375px;
    margin-top: -285px;
}

.xbox .button{
    position: absolute;
    width:62px;
    height:62px;
    background: url(abxyViral.svg);
}

/* Link that should work: 
*/
